/*
 * MAIN
 * - CSS principal do projeto
*/

@import url("_variables.css");

html {
    font-size: 62.5%;
    font-family: "Poppins", sans-serif;
}

body {
    background-color: var(--background);
    color: #fff;
}


/*
*
* TIPOGRAFIA
*
*/
h1, 
h2 {
    font-weight: var(--fontWeightBold);
}

h1 {
    color: var(--colorH1);
    font-size: 5.8rem;
}

h2 {
   color: var(--colorH2);
   font-size: 3.8rem;
}

h3 {
    color: var(--colorH3);
    font-size: 2.8rem;
    font-weight: var(--fontWeightRegular);
}

h4 {
    color: var(--colorH4);
    font-size: 2.2rem;
    font-weight: var(--fontWeightMedium); 
}

p {
    color: var(--colorP);
    font-size: 1.5rem;
    font-weight: var(--fontWeightLight); 
}

small {
    color: var(--colorP);
    font-weight: var(--fontWeightLight); 
    font-size: 1.4rem;
}

strong {
    color: var(--colorP);
    font-weight: var(--fontWeightRegular); 
    font-size: 1.6rem;
}

section {
    margin: 200px 0;
}

/*MOBILE*/
.primaryHeader {
    position: relative;
}

/*DESKTOP*/
@media (min-width: 769px){
    .primaryHeader {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.primaryHeader .columnLeft {
    width: 20%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 20px;
}

.primaryHeader .columnLeft button {
    background-color: transparent;
    border: none;
    cursor: pointer;
}

.primaryHeader .columnLeft button svg {
    stroke: var(--colorText);
}

.primaryHeader .columnRight {
    width: 80%;
}

.primaryHeader .columnLeft h2 {
    font-size: 4rem;
    font-weight: var(--fontWeightBold);
}

.primaryHeader .columnRight nav ul {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 30px;
}

.primaryHeader .columnRight nav ul li a {
    font-size: 2rem;
    color: var(--colorPrimaryMenu);
    text-decoration: none;
}

.primaryHeader .columnRight nav ul {
    list-style: none;
}

.container {
    width: 100%;
    max-width: 1280px;
    margin: 0 auto;
}

/*
   Section Banner
*/

.sectionBanner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
}

.sectionBanner .columnLeft h1 {
    font-size: 5.8rem;
    line-height: 7rem;
}

.sectionBanner .columnLeft h1 span {
    background: var(--primaryGradient);
    background-clip: text;
    -webkit-text-fill-color: transparent;
}

.sectionBanner .columnRight img {
    width: calc(100% - 20px);
    height: calc(100% - 20px);
    border-radius: 100%;
}

.sectionBanner .columnRight {
    position: relative;
    border-radius: 100%;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 349px;
    height: 349px;
    
}

.sectionBanner .columnRight::before {
    content: "";
    width: 100%;
    height: 100%;
    background: var(--primaryGradient);
    left: 0;
    top: 0;
    position: absolute;
    z-index: -1;
    transform: rotate(-90deg);
}

/*
   Section Stack
*/

.sectionStack header {
    text-align: center;
}

.sectionStack header h2 {
    margin-bottom: 10px;
}

.sectionStack header h3 {
    margin-top: 0;
}

.sectionStack .stackImagesContainer {
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-wrap: wrap;
    column-gap: 100px;
    row-gap: 70px;
    margin-top: 100px;
    margin: 100px auto 0 auto;
}

.imageLight, .imageDark {
    display: none;
}

html[data-theme="light"] .imageLight {
    display: inline-block !important;
}

html[data-theme="dark"] .imageDark {
    display: inline-block !important;
}

/*
   Section Projets
*/


.sectionProjects header {
    text-align: center;
}

.sectionProjects header h2 {
    margin-bottom: 10px;
}

.sectionProjects header h3 {
    margin-top: 0;
}

.sectionProjects .projectsContainer {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    flex-wrap: wrap;
    column-gap: 40px;
    row-gap: 60px;
    margin-top: 100px;
}
.projectBox {
    max-width: 375px;
    width: 100%;
    border-radius: 20px;
    overflow: hidden;
    background-color: var(--backgroundProjectBox);
    box-shadow: rgba(000, 000, 000, 0.2) 0px 8px 24px;
} 

.projectContent {
    padding: 30px;
}

.projectContent h4 {
    margin: 0;
    line-height: 2.2rem;
}

.projectActions {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    margin-top: 20px;
}

.projectActions .linkWithIcon {
    display: flex;
    align-items: center;
    gap: 10px; 
}

.projectActions .linkWithIcon a {
    color: var(--colorAnchor);
    text-decoration: underline;
    font-size: 1.4rem;
}
.projectActions .linkWithIcon:first-child svg path {
    stroke: var(--colorAnchor);
}


.projectActions .linkWithIcon:last-child svg path {
    fill: var(--colorAnchor);
}

/* 
*footerWrapper
* mainFooter
*mainFooterColumn
*/

/*
   FOOTER
*/

.footerWrapper .mainFooter {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 2px solid var(--grey03);
    height: 100px;
}

/* 
    Main Footer 
 */

.footerWrapper .mainFooter .mainFooterColumn {
    display: flex;
    align-items: center;
}

.footerWrapper .mainFooter .mainFooterColumn.left {
    justify-content: flex-start;
}

.footerWrapper .mainFooter .mainFooterColumn.right {
    justify-content: flex-end;
}

.mainFooterColumn.right ul {
    list-style: none;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.mainFooterColumn.right a{
    color: var(--colorP);
    font-size: 1.5rem;
    font-weight: var(--fontWeightLight);
    text-decoration: none;
}


/* 
    Mini Footer 
*/

.miniFooter {
    padding: 60px 0;
}

.miniFooter nav ul {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 30px;
    padding-left: 0;
    margin-top: 0;
}

.miniFooter nav ul li a {
    font-size: 2rem;
    color: var(--colorPrimaryMenu);
    text-decoration: none;
}

.miniFooter nav ul {
    list-style: none;
}

/*
    Pages
*/

/*
    About Page
*/

.about-page section {
    width: 100%;
    max-width: 700px;
    margin: 30px 0;
}

.about-page section header h2 {
    margin-bottom: 10px;
}

.about-page section.sectionAbout h1 {
    font-size: 4.2rem;
    font-weight: var(--fontWeightBold);
}

.about-page .sectionAbout p {
    padding-top: 0;
    line-height: 1.8;
}

.about-page .expList {
    color: var(--colorP);
    list-style: none;
    padding-left: 0;
    margin: 0;
}

.about-page .expList .expListItem {
    padding-bottom: 20px;
    border-bottom: 2px solid var(--grey03);
}

.about-page .expList .expFirstLine {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.about-page .expList .expFirstLine h3 {
    font-size: 2rem;
    font-weight: var(--fontWeightRegular);
}

.about-page .expBadge {
    background-color: var(--green02);
    color: var(--green01);
    padding: 7px 20px;
    border-radius: 100px;
    cursor: default;
    font-size: 1rem;
    font-weight: var(--fontWeightMedium);
}

.about-page .expList .expSecondLine {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.about-page .expList .expSecondLine > div {
    display: flex;
    align-items: center;
    gap: 5px;
}

.about-page .expList .expSecondLine {
    font-size: 1.2rem;
    font-weight: var(--fontWeightMedium);
    color: var(--colorP);
}

/* Stack Page*/

.stack-page .sectionStack header {
    text-align: left;
}

.stackImagesContainer img:hover {
    transition: 0.4s ease-in-out; /* Suavizando a animação */
    transform: scale(1.2); /* Efeito de zoom ao passar o mouse */
}

/* Projects Page */

.projects-page .sectionProjects header {
    text-align: left;
}

/* Contact Page */

.contact-page .sectionContact {
    margin: 200px 0;
    text-align: center;
}

.contact-page .sectionContact h1 {
    margin-bottom: 0;
}

.contact-page .sectionContact .contentEmail  {
    background: var(--primaryGradient);
    background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 4.8rem;
    font-weight: var(--fontWeightBold);
}

}
